server:
  port: 10081
  servlet:
    context-path: /${artifactId}

# 关闭钉钉SDK内部的失败error日志
logging:
  level:
    topsdk: off

dubbo:
  application:
    name: ${artifactId}
    logger: slf4j
  registry:
    address: zookeeper://127.0.0.1:2181
  consumer:
    check: false
  protocol:
    serialization: kryo

swagger:
  enabled: true
  print-init: true
  docket:
    base-package: com.cn.boot.sample.business.controller
    group-name: ${artifactId}
    path-selectors:
      exclude-patterns: [ /error ]
    api-info:
      contact:
        name: ChenNan
        email: 327919006@qq.com
        url: https://gitee.com/NuLiing
      title: ${artifactId}
      description: ${artifactId}-接口文档
      license: Apache License, Version 2.0
      license-url: https://www.apache.org/licenses/LICENSE-2.0.html
      version: ${project.version}
      terms-of-service-url: https://gitee.com/NuLiing
    response-message-language: cn

spring:
  task:
    execution:
      thread-name-prefix: myExecute-
      pool:
        max-size: 100

# 用于测试代码中获取yaml中配置
test:
  config:
    # 此配置配置在pom.xml中，根据不同环境获取不同配置值，可用于从pom中读取配置中心地址
    address: '@testAddress@'
    users:
    - name: user1
      age: 11
    - name: user2
      age: 22
    ftp:
      ip: 127.0.0.1
      port: 990
      username: appter3_user3
      password: 123456
    data:
      aaaa: bbbb
      cccc: dddd

# 滑动验证配置
aj:
  captcha:
    # 滑动验证，底图路径，不配置将使用默认图片
    # 支持全路径
    # 支持项目路径,以classpath:开头,取resource目录下路径,例：classpath:images/jigsaw
    jigsaw: classpath:images/jigsaw
    # 滑动验证，底图路径，不配置将使用默认图片
    # 支持全路径
    # 支持项目路径,以classpath:开头,取resource目录下路径,例：classpath:images/pic-click
    pic-click: classpath:images/pic-click
    # 缓存类型配置
    # 对于分布式部署的应用，我们建议应用自己实现CaptchaCacheService，比如用Redis或者memcache，
    # 参考CaptchaCacheServiceRedisImpl.java
    # 如果应用是单点的，也没有使用redis，那默认使用内存。
    # 内存缓存只适合单节点部署的应用，否则验证码生产与验证在节点之间信息不同步，导致失败。
    # ！！！ 注意啦，如果应用有使用spring-boot-starter-data-redis，
    # 请打开CaptchaCacheServiceRedisImpl.java注释。
    # redis ----->  SPI： 在resources目录新建META-INF.services文件夹(两层)，参考当前服务resources。
    # 缓存local/redis...
    cache-type: local
    # local缓存的阈值,达到这个值，清除缓存（注释表示未启用）
    # cache-number: 1000
    # local定时清除过期缓存(单位秒),设置为0代表不执行（注释表示未启用）
    # timing-clear: 180
    # Redis配置（注释表示未启用）
    # spring:
    #   redis:
    #     host: 10.108.11.46
    #     port: 6379
    #     password:
    #     database: 2
    #     timeout: 6000
    # 验证码类型default两种都实例化
    type: default
    # 右下角水印文字(我的水印)
    water-mark: "测试水印"
    # 右下角水印字体(不配置时，默认使用文泉驿正黑)
    # 由于宋体等涉及到版权，我们jar中内置了开源字体【文泉驿正黑】
    # 方式一：直接配置OS层的现有的字体名称，比如：宋体
    # 方式二：自定义特定字体，请将字体放到工程resources下fonts文件夹，支持ttf\ttc\otf字体
    # water-font: WenQuanZhengHei.ttf
    # 点选文字验证码的文字字体(文泉驿正黑)
    # font-type: WenQuanZhengHei.ttf
    # 校验滑动拼图允许误差偏移量(默认5像素)
    slip-offset: 5
    # aes加密坐标开启或者禁用(true|false)
    aes-status: true
    # 滑动干扰项(0/1/2)
    interference-options: 2
    # 点选字体样式 默认Font.BOLD
    font-style: 1
    # 点选字体字体大小
    font-size: 25
    # 点选文字个数,存在问题，暂不支持修改
    click-word-count: 4
    # 是否启用历史数据清除
    history-data-clear-enable: false
    # 接口请求频率限制配置
    req-frequency-limit-enable: false
    # 验证失败5次，get接口锁定
    req-get-lock-limit: 5
    # 验证失败后，锁定时间间隔,s
    req-get-lock-seconds: 360
    # get接口一分钟内请求数限制
    req-get-minute-limit: 30
    # check接口一分钟内请求数限制
    req-check-minute-limit: 60
    # verify接口一分钟内请求数限制
    req-verify-minute-limit: 60